# 1. Redução das das amostras

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from matplotlib.colors import ListedColormap
from sklearn.linear_model import Perceptron
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.multiclass import OneVsRestClassifier


from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier,MLPRegressor

import sklearn
import random

In [2]:
def read_instance(filepath):
    data = pd.read_csv(filepath)
    return(data)

In [3]:
data = read_instance('train.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
#retirando a coluna de nomes, local de embarque, tarifa do passageiro, 
#numero do ticket 
data = data.drop(columns=['Name'])
data = data.drop(columns=['Ticket'])
data = data.drop(columns=['Fare'])
data = data.drop(columns=['Embarked'])
# escolher se tirar cabine ou não pois a cabine infere no setor do barco
data = data.drop(columns=['Cabin'])

In [5]:
data = data.dropna()

In [6]:
data

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch
0              1         0       3    male  22.0      1      0
1              2         1       1  female  38.0      1      0
2              3         1       3  female  26.0      0      0
3              4         1       1  female  35.0      1      0
4              5         0       3    male  35.0      0      0
..           ...       ...     ...     ...   ...    ...    ...
885          886         0       3  female  39.0      0      5
886          887         0       2    male  27.0      0      0
887          888         1       1  female  19.0      0      0
889          890         1       1    male  26.0      0      0
890          891         0       3    male  32.0      0      0

[714 rows x 7 columns]

In [7]:
data.loc[data.Sex=='male','Sex'] = 1

In [8]:
data.loc[data.Sex=='female','Sex'] = 0

In [90]:
data

     PassengerId  Survived  Pclass Sex   Age  SibSp  Parch
0              1         0       3   1  22.0      1      0
1              2         1       1   0  38.0      1      0
2              3         1       3   0  26.0      0      0
3              4         1       1   0  35.0      1      0
4              5         0       3   1  35.0      0      0
..           ...       ...     ...  ..   ...    ...    ...
885          886         0       3   0  39.0      0      5
886          887         0       2   1  27.0      0      0
887          888         1       1   0  19.0      0      0
889          890         1       1   1  26.0      0      0
890          891         0       3   1  32.0      0      0

[714 rows x 7 columns]

# Treino

In [91]:
x,y = data.drop(columns=['Survived']), data['Survived']

In [92]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3)

In [117]:
y_train

622    1
85     1
844    0
25     1
607    1
      ..
37     0
160    0
795    0
786    1
15     1
Name: Survived, Length: 499, dtype: int64

In [111]:
model = MLPClassifier(activation='logistic', max_iter=10000,solver ='lbfgs' )
model.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:500: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(activation='logistic', max_iter=10000, solver='lbfgs')

In [116]:
y_pred = model.predict(y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[1 1 0 1 1 0 0 1 1 1 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 1 0 0 0 1 0 1 1 0 0 0 1
 1 0 1 0 1 0 1 1 0 1 1 1 0 1 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0
 0 1 0 0 1 1 1 1 1 0 1 0 0 1 1 0 0 0 0 0 1 1 1 1 0 0 0 1 0 0 0 1 0 0 0 1 0
 0 0 1 0 1 0 0 0 1 1 0 0 0 0 1 1 1 0 1 1 0 0 0 1 0 0 0 0 0 1 0 1 0 1 1 1 0
 1 0 0 1 0 1 0 1 1 0 0 0 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 0 1 1 1 1 1 0 0 1
 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 1 1 1 0 1 0 1 1 1 0 0
 1 1 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 1 0 1 1 0 0 1 1 0 0 0 0 0
 0 0 0 1 1 1 0 0 1 1 1 0 1 0 1 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0 1 1 0 0 0 1 0
 0 0 1 0 0 1 1 1 1 0 1 0 0 0 1 0 1 0 0 1 0 0 1 1 1 0 1 1 1 0 1 0 0 0 0 1 1
 0 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0
 1 1 0 1 0 0 0 1 1 1 0 1 1 0 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 1 1 0 0 0 0 0
 0 1 1 0 1 0 0 1 1 0 1 1 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 1 1 0 1 1
 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 1 1 1 0 0 0 0 0
 0 0 0 0 0 1 1 0 0 0 1 1 1 0 0 0 1 1].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [113]:
print(classification_report(y_test,y_pred))#possivel overfit

              precision    recall  f1-score   support

           0       0.89      0.94      0.92       298
           1       0.91      0.83      0.86       201

    accuracy                           0.90       499
   macro avg       0.90      0.88      0.89       499
weighted avg       0.90      0.90      0.89       499